div {
    background-color: black;
    color: white;
    padding: 10px;
    margin: -5px;
}
.items {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.items1:hover{
    background-color: grey;
    opacity: 0.5px;
    padding: 2px;
    border-radius: 10px;
}
img {
    margin: -5px;
    border: 10px solid black;
    width: 1877px;
    height: 1600px;
    position: absolute;
}
img.image {
    margin: -5px;
    border: 10px solid black;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 65%;
    top: 11.5%;
}

img.image2 {
    margin: -5px;
    border: 10px solid black;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 77%;
    top: 11.5%;
}
img.image3 {
    margin: -5px;
    border: 10px solid black;
    border-radius: 15px;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 59.5%;
    top: 35.5%;
}
img.image4 {
    margin: -5px;
    border: 10px solid black;
    border-radius: 15px;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 77%;
    top: 35.5%;
}
img.image5 {
    margin: -5px;
    border: 10px solid black;
    border-radius: 15px;
    width: 475px;
    height: 615px;
    position: absolute;
    left: 13%;
    top: 64%;
    
}

.collapsible {
    max-width: 800px;
    overflow: hidden;
    font-weight: 500;
    position: absolute;
    left: 6.5%;
    top: 15%;
}
.collapsible label {
    position: relative;
    font-weight: 600;
    background: #fff;
    box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 0.1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    color: rgb(0, 0, 0);
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 15px 0;
    border-radius: 4px;
}
.collapsible label:after {
    content: "";
    position: absolute;
    left: 54.5%;
    top: 9%;
    width: 18px;
    height: 18px;
    background: url(arrow.svg) no-repeat 0 0;
}
.collapsible-text {
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
}
.collapsible input:checked ~ .collapsible-text {
    max-height: 300px;
    padding-bottom: 25px;
    background: #000000;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
}
.collapsible p {
    font-size: 20px;
}
 
body {
    background-image: url('Images/Baseball image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.collapsible1 {
    max-width: 800px;
    overflow: hidden;
    font-weight: 500;
    position: absolute;
    left: 55%;
    top: 65%;
}
.collapsible1 label {
    position: relative;
    font-weight: 600;
    background: #fff;
    box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 0.1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    color: rgb(0, 0, 0);
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 15px 0;
    border-radius: 4px;
}
.collapsible1 label:after {
    content: "";
    position: absolute;
    left: 54.5%;
    top: 9%;
    width: 18px;
    height: 18px;
    background: url(arrow.svg) no-repeat 0 0;
}
.collapsible-text1 {
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
}
.collapsible1 input:checked ~ .collapsible-text1 {
    max-height: 500px;
    padding-bottom: 25px;
    background: #000000;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
}
.collapsible1 p {
    font-size: 20px;
}