div {
    background-color: black;
    color: white;
    padding: 10px;
    margin: -5px;
}
.items {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.items1:hover{
    background-color: grey;
    opacity: 0.5px;
    padding: 2px;
    border-radius: 10px;
}
img {
    margin: -5px;
    border: 10px solid black;
    width: 1877px;
    height: 1600px;
    position: absolute;
}
img.image {
    margin: -5px;
    border: 10px solid black;
    border-radius: 15px;
    width: 400px;
    height: 200px;
    position: absolute;
    left: 1.5%;
    top: 11.5%;
}
img.image2 {
    margin: -5px;
    border: 10px solid black;
    border-radius: 15px;
    width: 400px;
    height: 200px;
    position: absolute;
    left: 24%;
    top: 11.5%;
}
img.image3 {
    margin: -5px;
    border: 10px solid black;
    border-radius: 15px;
    width: 400px;
    height: 200px;
    position: absolute;
    left: 1.5%;
    top: 35.5%;
}
img.image4 {
    margin: -5px;
    border: 10px solid black;
    border-radius: 15px;
    width: 400px;
    height: 200px;
    position: absolute;
    left: 24%;
    top: 35.5%;
}
.text {
    background-color: black;
    padding: 5px;
    position: absolute;
    left: 54.5%;
    top: 9%;
    color: white;
    border-radius: 20px; 
    
}
body {
    background-image: url('Images/ending.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}